.wrapper
  display: grid
  grid-gap: 10px
  grid-template-areas: "overall" "lines" "bars"
  margin: 10px

  .overall
    grid-area: overall

  .lines
    grid-area: lines

  .bars
    grid-area: bars

@media (min-width: 500px)
  .wrapper
    grid-template-areas: "overall overall" "lines bars"
    grid-gap: 20px
    margin: 20px