/* You can add global styles to this file, and also import other style files */
*
  box-sizing: border-box

body
  background: #303030

.mat-card
  overflow: hidden

  .mat-card-content
    display: flex
    justify-content: center